/* TWITTER */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    min-height: 90vh;
}
.card{
    width: 200px;
    height: 272px;
    text-align: center;
    border: 2px solid black;
    padding: 12px 8px;
}
img{
    width: 50px;
    height: 50px;
    font-size: 42px;
    margin-bottom: 15px;
}
h2{
    font-size: 20px;
    margin-bottom: 10px;
}
p{
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 20px;
    text-align:center;  
      
}
button{
    width: 170px;
    height: 30px;
    border: none;
    border-radius: 40px;
    background-color: black;
    color: white;
    font-size: 12px;
}
.instra{
    border: none;
    background-color:  #e52d6b;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 22px;
    text-align: center;
}
.instra button{
    background-color: white;
    color: #e52d6b;
    margin-bottom: 10px;
}
i{
    font-size: 37px;
    margin-bottom: 23px;
}
#button{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 200px;
    background-color: black;
}    
